@import "tailwindcss";

:root {
  --background-primary: #18365a;
  --background-secondary: #f5efef;
  --foreground-primary: #e8d0ac;
  --foreground-secondary: #18365a;
  --foreground-accent: #c31818;
  --font-size-heading-1-base: clamp(
    1.75rem,
    1.6135359116022099rem + 0.7955801104972376vw,
    2.25rem
  );
  --font-size-heading-2-base: clamp(
    1.625rem,
    1.4118439226519337rem + 0.6961325966850829vw,
    2rem
  );
  --font-size-heading-3-base: clamp(
    1.375rem,
    1.2101519337016575rem + 0.5966850828729281vw,
    1.75rem
  );
  --font-size-heading-4-base: clamp(
    1rem,
    0.9406914364640884rem + 0.4638232044198895vw,
    1.375rem
  );
  --font-size-heading-5-base: clamp(
    0.875rem,
    0.8067679558011049rem + 0.3977900552486188vw,
    1.125rem
  );
  --font-size-heading-6-base: clamp(
    0.75rem,
    0.6712309392265193rem + 0.33096132596685085vw,
    0.875rem
  );
}

@theme inline {
  --color-primaryBg: var(--background-primary);
  --color-secondaryBg: var(--background-secondary);
  --color-primaryFg: var(--foreground-primary);
  --color-secondaryFg: var(--foreground-secondary);
  --color-accent: var(--foreground-accent);
  --text-1: var(--font-size-heading-1-base);
  --text-2: var(--font-size-heading-2-base);
  --text-3: var(--font-size-heading-3-base);
  --text-4: var(--font-size-heading-4-base);
  --text-5: var(--font-size-heading-5-base);
  --text-6: var(--font-size-heading-6-base);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #18365a;
    --foreground: #e8d0ac;
  }
} */

footer,
section:not(.bg-secondaryBg),
.wrapper {
  @apply max-w-[90rem] w-11/12 mx-auto;
}

section.bg-secondaryBg {
  @apply text-secondaryFg;
}

svg {
  @apply w-6 h-6;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
header li {
  @apply flex-1 min-w-fit;
}

@layer utilities {
  .arrow {
    @apply absolute transition-transform;
  }

  .group:hover .arrow--first {
    animation: arrowOut 0.3s forwards;
  }

  .group:hover .arrow--second {
    animation: arrowIn 0.6s forwards;
  }

  .carousel-arrow--right {
    @apply -rotate-90;
  }
  .carousel-arrow--left {
    @apply rotate-90;
  }

  @keyframes arrowOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(2rem);
    }
  }

  @keyframes arrowIn {
    from {
      transform: translateX(-2rem);
    }
    to {
      transform: translateX(0);
    }
  }
}

.about-wrapper {
  @apply max-w-[46.875rem];
}

h1 {
  @apply text-1;
}

h2 {
  @apply text-2;
}

h3 {
  @apply text-3;
}

h4 {
  @apply text-4;
}

h5,
p,
input {
  @apply text-5;
}

h6,
button,
li:has(address) {
  @apply text-6;
}
