@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18365a;
    --foreground: #e8d0ac;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.wrapper {
  @apply max-w-[90rem] w-11/12 mx-auto;
}

svg {
  @apply w-6 h-6;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
header li {
  @apply flex-1 min-w-fit;
}

@layer utilities {
  .arrow {
    @apply absolute transition-transform;
  }

  .group:hover .arrow--first {
    animation: arrowOut 0.3s forwards;
  }

  .group:hover .arrow--second {
    animation: arrowIn 0.6s forwards;
  }

  @keyframes arrowOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(2rem);
    }
  }

  @keyframes arrowIn {
    from {
      transform: translateX(-2rem);
    }
    to {
      transform: translateX(0);
    }
  }
}

.about-wrapper {
  @apply max-w-[46.875rem];
}
